@font-face{
	font-family: Myriad Pro;
	src: url(fonts/myriad-pro/MYRIADPRO-REGULAR.OTF);
}

body{
	display:block;
	margin:70px 0px 0px 0px;
	padding:0px;
	font-family:"微軟正黑體",Arial;
	color:#000000;
	background-color:#f5f7fa;
	font-size:14px;
	line-height: 25px;
}

h1 {
	font-family:"微軟正黑體",Arial;
	color:#000000;
	text-align: center;
}

h3 {
	display: block;
	font-family:"微軟正黑體",Arial;
	color:#000000;
	text-align:center;
	font-size:18px;
	line-height: 40px;
}

h3 a {
	text-decoration:none;
	margin:0px 10px;
}

h3 a:visited {
	color: #0000FF;
}

hr{
	background-color: #d1cfcf;
	color: #d1cfcf;
	height: 1px;
	border: 0px;
}

li img {
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    border-radius:10px;
	border:6px solid;
	border-color: white;
	box-shadow:0 0 7px #8c8c8c;
	max-width: 100%;
    height: auto;
	margin-top: 20px;
}

a:hover img {
	box-shadow:0 0 15px #000000;
}

/*Website size project*/
.full{
	margin:20px auto 0px;
	padding:0px;
	width:100%;
	max-width:1024px;
	min-width:320px;
}

/*Website size protfolio*/
.full-protfo{
	margin:20px auto 0px;
	padding:0px;
	width:100%;
	max-width:800px;
	min-width:320px;
}

/*Portfoilo Picture*/
.circle {
	margin:0px auto;
	border-radius:50%;
	width: 250px;
	height: 250px;
	background: url(../image/personal_pic.jpg) no-repeat;
	background-size: 250px 250px;
	background-position:center; 
	border:10px solid;
	border-color: white;
}

/*list project*/
.col-2, .col-3{
	width:100%;
	text-align: center;
}  

ul {
	margin:0;
	padding:0; 
}
  
.col-2 li {
	width:40%;
	vertical-align: text-top;
    display:inline-block;
	margin:0px 15px;
}

.col-3 li {
	width:30%;
	vertical-align: text-top;
    display:inline-block;
	margin:0px 15px;
}

/*Progrmming Language Column*/
.pl-col {
	display:inline;
	padding:4px; 
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    border-radius:10px;
	border:1px dashed;
	border-color: #afafaf;
	background-color: white;
	margin-bottom: 10px;
}

/*list portfoilo*/
.portfo {
	margin:40px 0px 0px 10px;
	display: block;
	color:#000000;
	font-size:15px;
	line-height: 50px;
}

.portfo li {
    display: block;
}
 
.tab{
    margin:0px 30px 0px;
}

.d-tab{
    margin:0px 70px 0px;
}  

/*footer*/
.footer {
	background-color: #DFDFDF;
	padding: 7px;
	text-align: center;
}